<article class="listing">
  <div class="name">
    {{#if linking}}
        <h3>
          {{#link-to routeName model}}{{data.title}}{{/link-to}}
          <span class="author">by {{data.author}}</span>
        </h3>
    {{else}}
      <h3>{{data.title}} <span class="author">by {{data.author}}</span></h3>
    {{/if}}
  </div>

  <a href="{{data.path}}" download class="download">
    <span class="text">Download</span>
    <div class="button">
      <div class="sprite sprite-download"></div>
      <div class="date">{{data.date}}</div>
    </div>
  </a>

  <div class="container">
    <div class="subcontainer">
      <a href {{action "toggleSize" this}} class="image-background">
        <img class="image-foreground" src="{{data.image}}" alt="Preview">
      </a>
      <!--<a href {{action "toggleSize" this}} class="sprite sprite-enlarge {{if isResized 'sprite sprite-reduce'}}"></a>-->
    </div>

    <div class="text">
      <h5>Description</h5>
      <p class="small-text">
        {{data.description}}
      </p>

      <br>

      <h5>Tags</h5>
      <p class="small-text">
        {{data.tags}}
      </p>
    </div>

    <div class="licence">
      <h5>Licence</h5>
      <p class="small-text">
        {{{data.licence}}}
      </p>
    </div>
  </div>
</article>